<div class="container">
    <h1 mat-dialog-title>Adicionar Animal</h1>
    <div mat-dialog-content>

        <mat-form-field appearance="fill">
            <mat-label>Nome do Animal </mat-label>
            <input matInput [(ngModel)]="animal.nome" [formControl]="nome" required>
            <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Espécie</mat-label>
            <input matInput [(ngModel)]="animal.especie" [formControl]="especie" required>
            <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Raça</mat-label>
            <input matInput [(ngModel)]="animal.raca" [formControl]="raca" required>
            <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="animal.dataDeNascimento"
                [formControl]="dataDeNascimento" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Jaula</mat-label>
            <mat-select [formControl]="toppings" [(ngModel)]="animal.jaula" [formControl]="jaulaSelect">
                <mat-option *ngFor=" let jaula of jaulas" [value]="jaula" required>
                    {{jaula.numeroJaula}}</mat-option>
            </mat-select>
            <mat-error *ngIf="nome.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <div mat-dialog-actions>
            <button mat-raised-button color="warn" routerLink="/animal">Cancelar</button>
            <button mat-raised-button color="primary" mat-button (click)="salvar()" cdkFocusInitial>Salvar</button>
        </div>
    </div>