button{
    color: white;
    position: relative;
    top: 15px;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 15px;
}
.navbar{
    height: 80px;
    border-bottom: solid 1px #a1ccffd9;
    background-color:#2b40b5;
    margin-bottom: 40px;
 }
 