<div class="container">
    <div class="mat-elevation-z8">
        <button mat-raised-button color="warn" color="primary" (click)="openSaveDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="numeroJaula">
                <th mat-header-cell *matHeaderCellDef> N° Jaula </th>
                <td mat-cell *matCellDef="let element"> {{element.numeroJaula}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="zoologico">
                <th mat-header-cell *matHeaderCellDef> zoologico </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeZoologico}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="bloco">
                <th mat-header-cell *matHeaderCellDef> Bloco </th>
                <td mat-cell *matCellDef="let element"> {{element.bloco}} </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="warn" (click)="openEditDialog(element)" color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="deletar">
                <th mat-header-cell *matHeaderCellDef> Excluir </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-mini-fab color="warn" (click)="excuir(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 15, 20 ]" showFirstLastButtons></mat-paginator>


    </div>
</div>